.pageskills{
    width: 100%;
    
    padding: 5rem 0 0 0;
    
    
   
}
.pagskil h1{
    color: transparent;
    background-image: var(--linear--);
    background-clip: text;
    font-size: 30px;
}
.pagskil p{
    color: var(--white--);
    font-size: 18px;
    max-width: 30rem;
}
.pagskil ul{
    color: transparent;
    background-image: var(--linear--);
    background-clip: text;
    list-style: disc;
    font-size: 20px;
}
.pagskil{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    
}
.pagskl .grp{
    width: 100%;
    aspect-ratio: 1.5;
    place-items: center;
}